---
# Playbook 4: Kubernetes Cluster Setup with kubeadm
- name: Setup Kubernetes Cluster
  hosts: k8s_masters
  become: yes
  vars:
    k8s_version: 1.28
    pod_network_cidr: 10.244.0.0/16
  tasks:
    - name: Install Docker and kubeadm
      block:
        - apt: name={{item}} update_cache=yes
          loop: [docker.io, kubeadm, kubelet, kubectl]
        - service: name=docker state=started enabled=yes
        - service: name=kubelet state=started enabled=yes
    
    - name: Initialize Kubernetes master
      shell: |
        kubeadm init --pod-network-cidr={{pod_network_cidr}} --kubernetes-version={{k8s_version}}
        mkdir -p /root/.kube
        cp /etc/kubernetes/admin.conf /root/.kube/config
      args:
        creates: /etc/kubernetes/admin.conf
    
    - name: Deploy Flannel networking
      shell: kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml
      environment:
        KUBECONFIG: /root/.kube/config
    
    - name: Create kubeconfig for user
      copy:
        src: /etc/kubernetes/admin.conf
        dest: /home/{{ ansible_user }}/.kube/config
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: '0600'
        remote_src: yes
    
    - name: Get join command
      shell: kubeadm token create --print-join-command
      register: join_command
    
    - name: Display cluster info
      shell: kubectl get nodes
      register: cluster_info
    
    - debug: msg="{{ cluster_info.stdout }}"
