---
# Playbook 9: Elasticsearch, Logstash, Kibana (ELK) Stack
- name: Deploy ELK Stack
  hosts: elk_servers
  become: yes
  vars:
    elasticsearch_version: 8.0
    kibana_version: 8.0
  tasks:
    - name: Add Elasticsearch repository
      apt_repository:
        repo: "deb https://artifacts.elastic.co/packages/8.x/apt stable main"
        state: present
    - name: Install Elasticsearch
      apt: name=elasticsearch state=present
    - name: Configure Elasticsearch
      lineinfile:
        path: /etc/elasticsearch/elasticsearch.yml
        regexp: "^#network.host:"
        line: "network.host: 0.0.0.0"
      notify: restart elasticsearch
    - name: Install Kibana
      apt: name=kibana state=present
    - name: Configure Kibana
      lineinfile:
        path: /etc/kibana/kibana.yml
        regexp: "^#server.host:"
        line: "server.host: 0.0.0.0"
      notify: restart kibana
    - name: Install Logstash
      apt: name=logstash state=present
    - name: Start ELK services
      service:
        name: "{{ item }}"
        enabled: yes
        state: started
      loop: [elasticsearch, kibana, logstash]
    - name: Verify ELK installation
      shell: curl -s http://localhost:9200/_cluster/health | head -c 200
      register: es_health
    - debug: msg="{{ es_health.stdout }}"
  handlers:
    - name: restart elasticsearch
      service: name=elasticsearch state=restarted
    - name: restart kibana
      service: name=kibana state=restarted
