---
# Playbook 10: GitLab Runner CI/CD Setup
- name: Setup GitLab Runner for CI/CD
  hosts: gitlab_runners
  become: yes
  vars:
    gitlab_url: https://gitlab.example.com
    runner_token: "your-runner-token"
    runner_tag: docker,linux
  tasks:
    - name: Add GitLab Runner repository
      shell: curl -L https://packages.gitlab.com/install/repositories/runner/gitlab-runner/script.deb.sh | bash
    - name: Install GitLab Runner
      apt: name=gitlab-runner state=present
    - name: Install Docker
      apt: name=docker.io state=present
    - name: Add gitlab-runner user to docker group
      user:
        name: gitlab-runner
        groups: docker
        append: yes
    - name: Register GitLab Runner
      shell: |
        gitlab-runner register \
          --non-interactive \
          --url "{{ gitlab_url }}" \
          --registration-token "{{ runner_token }}" \
          --executor docker \
          --docker-image alpine:latest \
          --description "Docker Runner" \
          --tag-list "{{ runner_tag }}"
      ignore_errors: yes
    - name: Start GitLab Runner
      service:
        name: gitlab-runner
        enabled: yes
        state: started
    - name: Verify Runner registration
      shell: gitlab-runner verify
      register: runner_status
    - debug: msg="{{ runner_status.stdout_lines }}"
